// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// ----------------- NOTES CARD STYLING ----------------- 
.note-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 30px;
	width: 70%;
	margin: auto;
}

.card {
	background-color: #6889a8;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	border: 1px solid #6889a8;
	min-height: 50px;
}

.card h1 {
	display: flex;
	height: 50px;
	justify-content: center;
	align-items: center;
}

.card p {
	background-color: #23364B;
	width: 100%;
	padding: 20px 20px;
	font-weight: 100;
}

/* ------------ BUTTON STYLING ------------ */

.buttons a {
	color: #fff;
	transition: .3s;
}

.buttons a:hover {
	color: #23364B;
}

.buttons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 50px;
	width: 100%;
}

.homeheader{
	display:flex;
	justify-content: center;
	margin: 20px 0;
}

/* ------------ FORM STYLING ------------ */

.formblock {
	display: flex;
	justify-content: center;
	align-items: center;
}

.formblock button {
	padding: 5px 10px;
	border: none;
	border-radius: 2px;
}

.formcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.formblock-nav {
	display: flex;
	justify-content: space-evenly;
}

.field {
	display:flex;
	flex-direction: column;
}

.field textarea{
	min-width: 500px;
	min-height: 100px;
}

//SHOW VIEW

.showcontainer {
	margin:auto;
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
	border: 3px solid black;
	max-width: 80%;
	flex-flow: flex row;

}

.showcontainer hr {
	margin: 10px 0px 10px 0px;
}

.showcontainer img{
	display:block;
	max-width: 70%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 20px;
}

//FORM FOR EDIT AND NEW

.formcontainer{
	margin-top:20px;
	// margin-left:20px;
}

.formcontainer .actions{
	margin-top: 10px;
	margin-bottom: 10px;
}

.formblock{
	padding: 20px 10px 10px 10px;
	display: flex;
	justify-content: center;
}

.formblock a {
	margin: 0 10px;
}

//PAYMENT SUCCESS

.paymentsuccess{
	margin-top: 40px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.paymentback{
	margin-top:10px;
	color:white;
	padding: 6px;
	border: 1px solid white;
	border-radius: 4px;
}